<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Yelp MVP</a>
    <div class="">
      <%= link_to "Create new restaurant", new_restaurant_path, class: "btn btn-primary" %>
    </div>
  </div>
</nav>